/* PAGE COLOR */

body {
    background-color: transparent;
}

/* PAGE TITLE */

h1 {

    color: black;
    text-align:center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

/* DROP DOWN NAVIGATION BAR STYLE */


ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: none;
    position: absolute;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
}

li {
    /* inline block makes nav bar horizontal */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}

li a, .dropbtn {
    
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    /* inline block makes nav bar horizontal */
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px
    
}
/* dropdown content hidden with display:none */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dd1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(245, 9, 9);
    z-index: 1;
}

/* this is the style for each dropdown menu item */
.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
  }

/* IMAGE STYLE */
img {
    height: 300px;
    width: 300px;
}


